{% extends "base.html" %}

{% block title %}Batch Input Prediction{% endblock %}

{% block content %}
<h1 class="text-center">Batch Input Prediction</h1>
<form action="/predict_batch" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="model_choice">Model Choice</label>
        <select class="form-control" id="model_choice" name="model_choice">
            <option value="random_forest">Random Forest</option>
            <option value="gradient_boosting">Gradient Boosting</option>
            <option value="mlp">Multi-Layer Perceptron</option>
            <option value="svc">SVC</option>
            <option value="tensorflow_keras">TensorFlow Keras</option>
            <option value="xgboost">XGBoost</option>
            <option value="logistic_regression">Logistic Regression</option>
        </select>
    </div>
    <div class="form-group">
        <label for="file">Upload CSV File:</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Predict</button>
</form>
{% endblock %}
